name: Deploy to EC2 via CodeDeploy

on:
  push:
    branches: [ develop ]

env:
  AWS_REGION: ap-northeast-2
  S3_BUCKET_NAME: aesop-be
  CODE_DEPLOY_APPLICATION_NAME: aesop-deploy
  CODE_DEPLOY_DEPLOYMENT_GROUP_NAME: aesop

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew build -x test -Dspring.profiles.active=prod

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@v0.1.4
        with :
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: build/libs/app.jar
          target: ~/app/

      - name: Save SHA to file
        run: echo $GITHUB_SHA > scripts/sha.txt

      - name: Make deployment zip
        run: |
          zip -r $GITHUB_SHA.zip build appspec.yml scripts

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload to S3
        run: |
          aws s3 cp $GITHUB_SHA.zip s3://${{ env.S3_BUCKET_NAME }}/$GITHUB_SHA.zip

      - name: Deploy to EC2 using CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name ${{ env.CODE_DEPLOY_APPLICATION_NAME }} \
            --deployment-config-name CodeDeployDefault.AllAtOnce \
            --deployment-group-name ${{ env.CODE_DEPLOY_DEPLOYMENT_GROUP_NAME }} \
            --s3-location bucket=${{ env.S3_BUCKET_NAME }},key=$GITHUB_SHA.zip,bundleType=zip
